.label-council1 {
  color: #A645A2 !important;
}

.label-council1 {
  border-image-source: linear-gradient(270deg, #A645A2 -1.39%, #711A6D 100%);
}

.label-council2 {
  color: #B6700A !important;
}

.label-council2 {
  border-image-source: linear-gradient(267.39deg, #B6700A -0.01%, #76521D 95.88%);
}

.label-council2:before {
  border-image-source: linear-gradient(267.39deg, #B6700A -0.01%, #76521D 95.88%);
}

.label-council3 {
  color: #BDA211 !important;
}

.label-council3 {
  border-image-source: linear-gradient(267.39deg, #BDA211 -0.01%, #6D601A 95.88%);
}

.label-council4 {
  color: #A4BB18 !important;
}

.label-council4 {
  border-image-source: linear-gradient(267.39deg, #A4BB18 -0.01%, #69732E 95.88%);
}

.label-council5 {
  color: #05B761 !important;
}

.label-council5 {
  border-image-source: linear-gradient(267.39deg, #05B761 -0.01%, #35735D 95.88%);
}

.label-council6 {
  color: #0A8AC0 !important;
}

.label-council6 {
  border-image-source: linear-gradient(267.39deg, #0A8AC0 -0.01%, #2C4E5C 95.88%);
}

.label-council7 {
  color: #6D23A7 !important;
}

.label-council7 {
  border-image-source: linear-gradient(267.39deg, #6D23A7 -0.01%, #3B235A 95.88%);
}